
@{
    ViewBag.Title = "Upt";
}

<h2>Upt</h2>

<table class="table table-bordered">
    <tr>
        <td>姓名：</td>
        <td><input id="Sname" type="text" /></td>
    </tr>
    <tr>
        <td>性别：</td>
        <td>
            <input id="Radio1" type="radio" value="true" name="sex" /> 男
            <input id="Radio2" type="radio" value="false" name="sex" /> 女
        </td>
    </tr>
    <tr>
        <td>班级：</td>
        <td>
            <select id="Select1"></select>
        </td>
    </tr>
    <tr>
        <td>生日：</td>
        <td><input id="Sbirthday" type="text" onclick="WdatePicker()" /></td>
    </tr>

    <tr>
        <td></td>
        <td><input id="Submit1" type="submit" value="修改" onclick="Upt()" /></td>
        <td></td>
    </tr>
</table>

@section scripts{
    <script>
        $(function () {
            Bandsel();
        })
        function Bandsel() {
            $.ajax({
                url: 'http://localhost:51882/api/Class/',
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    $("#Select1").empty();
                    $("#Select1").append("<option value=''>==请选择==</option>");
                    $(d).each(function () {
                        var opt = "<option value=" + this.Cid + ">" + this.Cname + "</option>";
                        $("#Select1").append(opt);
                    })
                    Show();
                }
            })
        }

        function Show() {
            $.ajax({
                url: 'http://localhost:51882/api/Stu/'+@ViewContext.RouteData.Values["id"],
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    $("#Sname").val(d.Sname);
                    if (d.Ssex) {
                        Radio1.checked = true;
                    }
                    else {
                        Radio2.checked = true;
                    }
                    $("#Select1").val(d.ClassModelCid);
                    $("#Sbirthday").val(d.Sbirthday);
                }
            })
        }

        function Upt() {
            var id=@ViewContext.RouteData.Values["id"];
            var obj = {};
            obj.Sid = id;
            obj.Sname = $("#Sname").val();
            obj.Ssex = Radio1.checked;
            obj.ClassModelCid = $("#Select1").val();
            obj.Sbirthday = $("#Sbirthday").val();
            
            

            $.ajax({
                url: 'http://localhost:51882/api/Stu/',
                type: 'put',
                dataType: 'json',
                data: obj,
                success: function (d) {
                    alert('修改成功！');
                    location.href = '/Stu/Show';
                }
            })
        }
    </script>
    <script src="~/Scripts/My97DatePicker/My97DatePicker/WdatePicker.js"></script>
}